<%# app/views/users/index.html.erb %>

<% provide(:title, "All Users") %>
<h1>All Users</h1>

<%# Here's where you'd eventually loop through @users to display them %>
<%# For example: %>
<%# <ul> %>
<%#   <% @users.each do |user| %> %>
<%#     <li><%= link_to user.name, user %></li> %>
<%#   <% end %> %>
<%# </ul> %>